# Created by Vercel CLI
VERCEL_OIDC_TOKEN="xxxxxxxxxxxxxxxxxxx"

BLOG_GITHUB_TOKEN=ghp_xxxxxxxxxxxxxxxxxxx
NEXT_PUBLIC_GITHUB_BRANCH=main
NEXT_PUBLIC_GITHUB_OWNER=your_github_username
NEXT_PUBLIC_GITHUB_REPO=your_github_repository_name
